<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="100"
    alt="Emproto Logo"
    src="https://assets-global.website-files.com/62fb4285ecd40e128abd4eda/62fbdb56e797bc762db7e104_62d9497f8a2e3fc3f40271cb_EmprotoLogo-p-130x130q80.png"
  />
  <span>Assessment</span>
</div>

<div class="header-padding p-4">
  <div class="card">
    <h5 class="card-header m-0">Form</h5>
    <div class="card-body p-0">
        <app-dynamic-form [level]="level"></app-dynamic-form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
